{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Welcome
{% endblock title %}


{% block body %}


<div class="container-fluid mainHead">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-12 c1">
                <h1 id="heading2">AuSum</h1>
                <h1 id="heading">Audio to Summary</h1>
            </div>
        </div>
        
    </div>
</div>
<div class="container-fluid con1">
    <div class="row ">
        <div class="col-lg-5 hd1">
            <div class="row">
                <span >Have an audio file?</span>
            </div>
        </div>
        <div class="col-lg-2">
            <i class="fa fa-file-audio-o" aria-hidden="true" style="font-size: 2.6rem; padding-top: 0.3rem; padding-left: 2rem;" ></i>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">

        </div>
        <div class="col-lg-2">
            <i class="fa fa-sticky-note" aria-hidden="true" style="font-size: 2.6rem; padding-left: 10rem;"></i>
        </div>
        <div class="col-lg-5 hd2">
            <div class="row">
                <span>
                    Wanna take notes out of it?
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 hd1">
            <div class="row">
                <span class="hd1">AuSum is here to help!</span>
            </div>
        </div>
        <div class="col-lg-2">
            <i class="fa fa-handshake-o" aria-hidden="true" style="font-size: 2.6rem; padding-left: 2rem;"> </i>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">

        </div>
        <div class="col-lg-2">
            <i class="fa fa-check-square-o" aria-hidden="true" style="font-size: 2.6rem; padding-left: 10rem;"></i>
        </div>
        <div class="col-lg-5 hd2">
            <div class="row">
                <span>
                    Let's get started..
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid con2">
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-2 box">
            <div class="boxHead">
                Transcribe
            </div>
        </div>
        <div class="col-lg-2">

        </div>

        <div class="col-lg-2 box">
            <div class="boxHead">
                Summarize
            </div>
        </div>
        <div class="col-lg-2">
            
        </div>
        <div class="col-lg-2 box">
            <div class="boxHead">
                About
            </div>
            <div>
                AuSum is a step<br>
                towards the automation <br>
                of notes making<br>
                from audio
            </div>
        </div>

    </div>
</div>
{% endblock body %}