{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Welcome
{% endblock title %}


{% block body %}


<div class="container-fluid mainHead">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-12 c1">
                <h1 id="heading2">AuSum</h1>
                <h1 id="heading">Audio to Summary</h1>
            </div>
        </div>
        
    </div>
</div>
<div class="container-fluid con1">
    <div class="row ">
        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-11 hd1">
                    <div class="row">
                        <div class="col-10"><span >Have an audio file?</span></div>
                        <div class="col-2"><i class="fa fa-file-audio-o" aria-hidden="true" class="icon-size" ></i></div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12"></div>
        <div class="col-lg-6 col-sm-12"></div>
        
        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11 hd2">
                    <div class="row">
                        <div class="col-2"><i class="fa fa-sticky-note" aria-hidden="true" class="icon-size"></i></div>
                        <div class="col-9"><span>Wanna take notes out of it?</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12"></div>
        <div class="col-lg-6 col-sm-12"></div>

        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-11 hd1">
                    <div class="row">
                        <div class="col-9"><span>AuSum is here to help!</span></div>
                        <div class="col-2"><i class="fa fa-handshake-o" aria-hidden="true" class="icon-size"> </i></div>
                    </div>
                </div>
                
                <div class="col-1"></div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12"></div>
        <div class="col-lg-6 col-sm-12"></div>

        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11 hd2">
                    <div class="row">
                        <div class="col-2"><i class="fa fa-check-square-o" aria-hidden="true" class="icon-size"></i></div>
                        <div class="col-9"><span>Let's get started..</span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid con2">
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-2 box">
            <div class="boxHead">
                Transcribe
            </div>
        </div>
        <div class="col-lg-2">

        </div>

        <div class="col-lg-2 box">
            <div class="boxHead">
                Summarize
            </div>
        </div>
        <div class="col-lg-2">
            
        </div>
        <div class="col-lg-2 box">
            <div class="boxHead">
                About
            </div>
            <div>
                AuSum is a step<br>
                towards the automation <br>
                of notes making<br>
                from audio
            </div>
        </div>

    </div>
</div>
{% endblock body %}