{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Transcribe
{% endblock title %}


{% block body %}
<div class="container-fluid">
    <div class="row tHead">
        <div>Transcribe audio file</div>
    </div>

    <div class="row r1">

    </div>

    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4 c2">

            <div class="d-flex flex-row">
                {% if form %}
                    <div class="d-flex flex-column justify-content-evenly align-items-center text-center">
                       <form action="/transcribe" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class="formtable">
                                {{ form.as_table }}
                            </table>
                            <br>
                            <input type="submit" value="Transcribe" class="but"/>
                        </form>
                    </div>
                {% endif %}
                {% if result %}
                    <div class="d-flex flex-column">
                        <p>{{ result }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}